@import '../../variable.scss';

.savedJobs{
    font-size: xx-large;
    font-weight: 900;
    font-family: $font-family-Abel;
    color: $color-secondary;
    text-decoration: underline;
  }

  .savedJobsParentContainer{
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
<<<<<<< HEAD

=======
>>>>>>> 6b914fa1e4bcc7dcf2c30b00773c2e28f5cfa456
  }