@import '../../variable.scss';

.savedJobs{
    font-size: xx-large;
    font-weight: 900;
    font-family: $font-family-Abel;
    color: $color-secondary;
    text-decoration: underline;
  }

  .savedJobsParentContainer{
    width: 100vw;
    height: 90vh;
    display: flex;
   align-items: center;
    flex-direction: column;
  }