@import '../../variable.scss';


#L_Rcontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 15px 20px;
    padding: 30px 30px;
    border: 5px inset lightgrey;
    background-color: $color-third;
    border-radius: 15px;
    height: 30vh;
    width: 50vw;
}

.loginPageContainer{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    
}

@-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
  }
  
  @keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
  }


@media screen and (max-width: 700px){
 #L_Rcontainer {
     width: 80vw;
 }
 #L_Rbutton {
     margin-left: 6px;
    //  margin-bottom:0px;
 }
}