.outermost_div {
    height: 100vh;
}
nav {
    width: 100vw;
    height: 5vh;
    background-color: red;
    position: sticky;
    top: 0;
}

.scrapeContainerParent{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
}