@import '../../variable.scss';

.scrapeContainerParent{
    width: 100vw;
    height: 90vh;
    display: flex;
	justify-content: center;
	position: sticky;
	top: 0;
}
.contentParent{
	display: flex;
	align-items: flex-end;
	width: 60vw;
	height: 35svh;
	margin-top: 15px;
	position: sticky;
	top: 15vh;
	bottom: 0;
	z-index: 3;
	background-color: $color-primary;
}
.sticky {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.dropdownParent{
	display: flex;
	align-items: center;
	margin: 0px 5px;
}
.inputParent{
	display: flex;
	justify-content: space-around;
	margin: 0px 5px;
}

.searchElement{
	border: 1px solid $color-primary;
	height: 25px;
	border-radius: 5px;
	font-family: $font-family-Abel;
	font-size: 15px;
	padding-left: 5px;
}

.searchButton{
	margin: 15px;
	color: $color-secondary;
	background-color: $color-primary;
	border: 1px solid $color-secondary;
	font-size: 15px;
	height: 35px;
	font-weight: 600;
}

.outermost_div {
	height: auto;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 15vh;
	margin-top: -5vh;
}
nav {
    height: 12vh;
	background-color: $color-secondary;
	border: 6px outset $color-secondary;
	border-radius: 15px;
	margin-top: 10px;
	input{
		margin: 0 4px;
		border-radius: 2px;
	}
	
}
.searchText{
	font-family: $font-family-Abel;
	margin: 0px 10px;
	font-weight: 500;
	font-size: 18px;
}

@media screen and (max-width: 1050px) {
	.searchText {
	  display: none;
	} 
  }

@media screen and (max-width: 650px) {
	.sticky{
		width: 100vw;
		border-radius: 0;
		border: none;
		height: 13vh;
		flex-direction: column;
		align-items: center;
	}
	.dropdownParent{
		justify-content: flex-start;
		width: 95vw;
	}
	.contentParent{
		width: 100vw;
		height: 13vh;
	}
	.searchElement{
		margin: 5px;
		height: 28px;
		border: none;
		width: 45vw;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	}
	#jobs{
		border: none;
		height: 28px;
		box-shadow: none;
	}
	.searchButton{
		box-shadow: none;
	}
  }