@import '../../variable.scss';

.stickyHeader {
    width: 100vw;
    height: 10vh;
    background-color: $color-secondary;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 20px;
  }
  .headerEnclosure{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;

  }

.links {
    text-decoration: none;
    color: black;
    margin-right: 20%;
    padding-left: 5%;
    font-weight: 500;
    font-family: $font-family-Abel;
    font-size: 20px;
}

#Title {
  font-size: xx-large;
  font-weight: 900;
  font-family: $font-family-Abel;
}

.titleText{
  width: 200px;
  height: 10vh;
  display: flex;
  align-items: center;
}