@import '../../variable.scss';

.stickyHeader {
    width: 100vw;
    height: 10vh;
    background-color: $color-secondary;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    margin-bottom: 20px;
  }

  .webShow{
    width: 25vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 30px;
  }
  .headerEnclosure{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
  }

.links {
    text-decoration: none;
    color: black;
    margin-right: 50px;
    font-weight: 500;
    font-family: $font-family-Abel;
    font-size: 20px;
}

#Title {
  text-decoration: none;
  color: black;
  font-size: xx-large;
  font-weight: 900;
  font-family: $font-family-Abel;
}

.titleText{
  width: 200px;
  height: 10vh;
  display: flex;
  align-items: center;
  margin-left: 70px;
}

.menuButton {
  width: 20px;
  height: 20px;
  display: none;
}

.mobile-menu-hide {
  display: none;
}
.menu_show {
  text-decoration: none;
  display: flex;
  height: 200px;
  width: 30vw;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  animation-name: drop;
  position: absolute;
  right: 0px;
  z-index: 1;
  border-radius: 2px;
  animation-duration: .3s;
}

@keyframes drop {
  0% {
      height: 0;
  }
  100% {
      height: 200px
  }
}
@media screen and (max-width: 700px){
.menuButton {
  width: 30px;
  height: 30px;
}
.webShow {
  display: none;
}
.menuButton{
  display: inline-block;
}
.titleText{
  margin: 0;
}
}