header {
    width: 100vw;
    height: 10vh;
    background-color: #DBEDFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
}

.links {
    text-decoration: none;
    color: black;
    margin-right: 20%;
    padding-left: 5%;
}