@import '../../variable.scss';

.listingContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 0px 20px;
    margin-top: 20px;
    padding: 30px 30px;
    height: 50vh;
    width: 55vw;
    border: 5px outset $color-third;
    background-color: $color-third;
    border-radius: 15px;
}

.mappedScrapeParentContainer{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    margin-top: 2vh;
}
.displayCategory{
    font-weight: 600;
    font-size: 18px;
    font-family: $font-family-Abel;
}

#successMessage{
    font-weight: 600;
    color: green;
    font-size: 18px;
}

.jobTitle {
    color: $color-primary
}

.saveButton{
    background-color: $color-primary;
    width: 55px;
    height: 25px;
    font-size: 16px;
    font-weight: 600;
    font-family: $font-family-Abel;
    color: lightgrey;
    border-radius: 15px;
    margin: 5px;
}

@media screen and (max-width: 650px) {
	.mappedScrapeParentContainer{
	  width: 100vw;
    } 
    .listingContainer{
        width: 100vw;
        height: auto;
    }
    .displayCategory{
        font-weight: 600;
        font-size: 18px;
        font-family: $font-family-Abel;
    }
  }