.listingContainer{
    margin: 30px 30px;
    padding: 30px 30px;
    height: 30vh;
    width: 50vw;
    border: 5px inset lightgrey;
    border-radius: 15px;
}

#successMessage{
    font-weight: 600;
    color: green;
    font-size: 18px;
}