.listingContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 30px 30px;
    padding: 30px 30px;
    height: 30vh;
    width: 30vw;
    border: 5px inset lightgrey;
    border-radius: 15px;
}

#successMessage{
    font-weight: 600;
    color: green;
    font-size: 18px;
}