.outerDiv {
  background-color: #666b6e;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  display: flex;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    width: 75vw;
    height: 75vh;
    border-radius: 10PX;
  }

.emailForm {
  height: 12vh;
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  flex-direction: column;
  position: sticky;
  background-color: thistle;
}

.passwordForm {
  height: 12vh;
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  flex-direction: column;
  background-color: thistle;
}



.messageContainer {
    display: flex;
    flex-direction: column;
    
}

.passwordMessage {
  color: green;
  -webkit-animation: fadeinout 2s linear forwards;
  animation: fadeinout 2s linear forwards;
}
@-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
  }
  
  @keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
  }
