.outerDiv {
  background-color: #666b6e;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.settingDiv{
  display: flex;
  justify-content: space-between;
  width: 70vw;
  margin-bottom: 300px;
}
.accountSettings{
  font-size: 50px;
  text-decoration: underline;
  font-family: 'Abel', sans-serif;
}
.accountContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    width: 75vw;
    height: 75vh;
    border-radius: 10px;
    flex-direction: column;
  }

.emailForm {
  height: 12vh;
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  flex-direction: column;
  position: sticky;
  background-color: thistle;
  border-radius: 10px;
}

.passwordForm {
  height: 12vh;
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  flex-direction: column;
  background-color: thistle;
  border-radius: 10px;

}

.messageContainer {
  height: 0px;
  display: flex;
  flex-direction: column;
}

.passwordMessage {
  color: green;
  -webkit-animation: fadeinout 2s linear forwards;
  animation: fadeinout 2s linear forwards;
}
@-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
  }
  
  @keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
  }
